@type import('tailwindcss').Config;
@tailwind base;
@tailwind components;
@tailwind utilities; 

@layer components {
    .input-type-1 {
        @apply block mt-1 bg-white dark:bg-gray-700 mb-4 w-full px-2 py-2 border text-gray-500 dark:text-white rounded-md border-slate-300 dark:border-slate-700 focus:outline-none focus:border-primarylight focus:ring-1
    }
    .form-btn-1 {
        @apply bg-primary text-white py-2 rounded-md mt-4 focus:outline-none hover:bg-primarydark hover:cursor-pointer transition-all
    }
    .tablet-1 {
        @apply bg-gray-300 dark:bg-gray-700 py-1 px-3 rounded-md m-2
    }
    .btn-1 {
        @apply py-1 px-3 bg-primary text-sm text-white rounded-lg mr-2 hover:text-white
    }
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 5px;
      height: 10px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      /* background: #f7f4ed; */
      background: white;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      /* background: #e0cbcb; */
      background: rgb(197, 197, 197);
      border-radius: 100vh;
      /* border: 3px solid #f6f7ed; */
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #9396cf
    }
  }